/*
 *Name: Carter Pehr
 *UnityID: cpehr
 *Date: 2/16/2020
 *Assignment: Webpages IA
 *Description: Webpages Independent Assignment
 */
 
img {
	border: 2px solid #09CB00;
    max-width: 200px;
    max-height: 250px;
}

body {
    background-color: #FFE1A4;
}

table {
    border:3px solid #000000;
}

