/*
 *Name: Carter Pehr
 *UnityID: cpehr
 *Date: 2/16/2020
 *Assignment: Webpages IA
 *Description: Webpages Independent Assignment
 */
 
#professional {
    max-width: 250px;
    max-height: 300px;
}

.class {
    property: value;
}

#id {
    property:value;
}
